#page-welcome-to-creative ul li {
	margin: 7px 0px;
}

#page-welcome-to-creative .video-placeholder-image {
	width: 100%;
	cursor: pointer;
}

#page-welcome-to-creative .youtube-icon {
	width: 10%;
	cursor: pointer;
}
